{#
/**
 * @file
 * Default theme implementation to present an urlicon.
 *
 * Available variables:
 * - text: The link text.
 * - favicon: The link's favicon.
 * - path: The link path.
 * - attributes:
 *
 * @see template_preprocess_urlicon()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('urlicon/urlicon') }}
<a href="{{ path }}">{{ text }} <img{{ attributes }} src="{{ favicon }}"/></a>
